<a [routerLink]="[id]">
  <li class="mb-3" [ngClass]="{'list-group-item': true}">
    <div class="row">
      <div class="col-3 my-auto">
        <img src="assets/nopicture.png">
      </div>
      <div class="col-6 my-auto">
        <h4>{{ title }}</h4>
        <p>{{ description }}</p>
      </div>
      <div class="col-3 my-auto text-center">
        <h3 class="priceValue">{{ price }}.-</h3>
      </div>
    </div>
    <div class="row">
      <div class="d-inline-flex col-3 my-auto px-3">
        <p id="cat" class="border rounded px-auto py-0">{{ category }}</p>
      </div>
      <div class="col-9 my-auto px-3">
        <p class="mb-0">Published on {{date}}</p>
      </div>
    </div>
  </li>
</a>

<!--  <button  class="btn btn-danger" align="right"
           (click)="onDelete()"> Delete Post </button>-->
