a {
  color:black;
  &:hover{
    color: #31771d;
    text-shadow: #00AA00 1px 0 250px;
    text-decoration: none;
  }
}

img {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
  margin-left:30px;
}

/* Create three equal columns that floats next to each other */
/*.column {
  float: left;
  width: 33.33%;


  //text-align: center;
   /* Should be removed. Only for demonstration */
//}

/* Clear floats after the columns */
/*.row:after {
  content: "";
  display: table;
  clear: both;
}*/
.priceValue{
  //display:inline-block;
  //padding-right: 10px;
  //float:right;
  //padding-top: 30%;
//  background-color: red;
}
#cat{
  border-radius: 10px;
  //width: 100%;
  padding: 0.5em;
  margin-bottom: 0;
  //margin-top:5%;
  //padding-left: 0.5em;
  background: #00AA00;
}
li{
  box-shadow: 2px 3px 3px #666666;
  border-radius: 2px;
  border-left: 0.3em solid #009900; // add border at bottom of header
  //margin:30px;
  //width:500px;
  //margin-left:50px;
  //max-height: 300px;
}
