<form class="border rounded p-5" [formGroup]="postForm" (ngSubmit)="onSubmitForm()">

  <!-- Page title -->
  <div class="text-center">
    <p class="h3 mb-5">Create new ad</p>
  </div>

  <!-- Ad title -->
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" class="form-control" formControlName="title">
  </div>

  <!-- Ad description -->
  <div class="form-group">
   <label for="description">Description</label>
   <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
  </div>

  <!-- Ad price -->
  <div class="form-group">
   <label for="price">Price</label>
   <div class="input-group">
     <input type="text" id="price" class="form-control" formControlName="price">
     <div class="input-group-append">
       <span class="input-group-text">CHF</span>
     </div>
   </div>
  </div>

  <!-- Ad category -->
  <div class="form-group">
    <label for="category">Category</label>
    <select id="category" class="form-control" formControlName="category">
      <option *ngFor="let cat of categoryList" [value]="cat.name">{{cat.name}}</option>
      
    </select>
  </div>

  <!-- Ad pictures -->
<!--
  <div formArrayName="photos">
    <p class="h5">Pictures</p>
    <div class="form-group" *ngFor="let photosControl of getPhotos().controls; let i = index">
      <input type="text" class="form-control" [formControlName]="i">
    </div>
    <button type="button" class="btn" (click)="onAddPhoto()">Add new picture</button>
  </div>
-->
<form class="md-form" action="#">
  <h3>Pictures</h3>
  <div class="file-field">
    <div class="btn btn-primary btn-sm float-left">
      <span>Choose files</span>
      <input type="file" multiple (change)="onUploadFiles($event)">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Upload one or more pictures" >
    </div>
  </div>
</form>



  <!-- Submit the ad -->
  <div class="d-flex flex-row-reverse">
    <button type="submit" (change)="onUploadFiles($event)" class="btn">Submit</button>
  </div>

</form>
