
 body {
  background: none;
  background-color: #fff;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 3%;
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 15%;

  color: #000;
  font-family: sans-serif;
}

.login-pf {
    background-image: url('../img/yes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.login-pf-page .login-pf-header h1 {

    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
    font-family: Arial;
    color: #586b58;
    margin-top : 10%;

}

.alert-error {
    background: url('../img/error2.png') left;
    margin-left: 15%;
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    border-color: #cc0000;
    color: red;
    margin-bottom: 30px;
}

.alert {
    position: relative;
    word-wrap: break-word;
    padding-left: 5%;
    margin-right: 20%;
    font-size: 14px;

}

span.kc-feedback-text {
  color: red;
}


/* label change Username, Password text*/
div#kc-form label {
    color: #000 !important;
    display: block;
    font-size: 14px;
    margin-left: 15%;
}


.form-control {

    display: block;
    width: 65%;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #95a195;
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 5px;
    transition: border-color 0.05s ease-in-out, box-shadow 0.15s ease-in-out;

}

.form-control:focus { // text input style when focused
  border-color: var(--color-primary-light);
  border: 1px solid #0c9609;
  box-shadow: inset 0 1px 1px rgba(0, 200, 0, 0.075), 0 0 8px rgba(0, 200, 0, 0.6); // smoothed shadow around space
}



/*button*/
input[type=submit] {
    border: 1px solid #056e37;
    border-radius: 3px;
    background-color: #049848;
    color: rgba(0,0,0,0.6);
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    padding: 2% 21%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top : 5%;
    margin-bottom: 10%;
}


input[type="submit"]:not(:disabled) {
    cursor: pointer;
}

.btn-primary:hover {
 background-color: #056e37;
 box-shadow: 0 2px 3px rgba(3, 3, 3, 0.1);
}

.alert-error {
    background-color: #ffffff;
    border-color: #cc0000;
    color: #333333;
}


div.kc-logo-text span {
    display: none;
}


div#kc-registration {
  display: none;
}

label.control-label {
  margin-left: 15.5%;
}

div#kc-form-options {
  display: none;
}
