html {
    height: 100%;
}

body {
    background-color: #F9F9F9;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav.navbar {
    height: 55px;
    background-color: #049848;
    border-bottom: 0.35em solid #056e37;
}


div.navbar-header {
  height: 2px;
}

div.navbar-brand {
  margin-left: 25%;
}

li {
  display: inline;
}
.navbar-pf .navbar-utility > li > a.nav-link.active {
  text-decoration: none;
  font-family: arial;
  font-size: 22px;
  color: white;
  background-image: url('../img/logo_white.resized.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 35px;
  padding-bottom: 15px;
  margin-left: 22%;
}


.navbar-pf .navbar-utility {
  list-style-type:none;
  color: #049848;
}

.navbar-pf .navbar-utility > li > a:hover {
  background-color: #056e37;
}

.navbar-pf .navbar-utility > li > a {
  background-image: none;
  margin-left: 17%;
  text-decoration: none;
  text-transform: uppercase;
  font-family: arial;
  font-size: 20px;
  color: #fff !important;
  padding-top: 25px;
  padding-bottom: 13px;
  padding-left: 0px;
  border-left: medium none;
}

.container {
    height: 100%;
}

.content-area {
    background-color: #fff;
    border-color: #CECECE;
    border-style: solid;
    border-width: 0 1px;
    height: 100%;
    padding: 0 30px;
}

.margin-bottom {
    margin-bottom: 10px;
}

/* Sidebar */

body.admin-console.user.totp {
  display: none;
}

.bs-sidebar {
    background-color: #f9f9f9;
    padding-top: 44px;
    padding-right: 0;
    padding-left: 0;
    z-index: 20;
}
.bs-sidebar ul {
    list-style: none;
    padding-left: 12px;
}

.bs-sidebar ul li {
    margin-bottom: 0.5em;
    margin-left: -1em;
}
.bs-sidebar ul li a {
  text-decoration: none;
    font-size: 14px;
    font-family: Arial;
    padding-left: 25px;
    color: #4d584f;
    line-height: 28px;
    display: block;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #f9f9f9;
}
.bs-sidebar ul li a:hover,
.bs-sidebar ul li a:focus {
    text-decoration: none;
    color: #777777;
    border-right: 2px solid #aaa;
}
.bs-sidebar ul li.active a {
    background-color: #b7f6ba;
    border-color: #009c1c;
    font-weight: bold;
    background-image: url(../img/icon-sidebar-active.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.bs-sidebar ul li.active a:hover {
	border-right: none;
}


.content-area h2 {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 24px;
    margin-top: 30px;
}

.subtitle {
    text-align: right;
    margin-top: 0;
    color: #909090;
    font-family: sans-serif;
}

.required {
    display: none;
}


.alert {
    margin-top: 30px;
    margin-bottom: 0;
}

.feedback-aligner .alert {
    background-position: 1.27273em center;
    background-repeat: no-repeat;
    border-radius: 2px;
    border-width: 1px;
    color: #4D5258;
    display: inline-block;
    font-size: 1.1em;
    line-height: 1.4em;
    margin: 0;
    padding: 0.909091em 3.63636em;
    position: relative;
    text-align: left;
}
.alert.alert-success {
    color: #067d85;
    background-image: url('../img/blueicon.png');
    background-size: 17px;
    background-repeat: no-repeat;
    font-family: sans-serif;
    padding-left: 30px;
}
.alert.alert-error {
  color: red;
  background-image: url('../img/error2.png');
  background-size: 21px;
  background-repeat: no-repeat;
  font-family: sans-serif;
  padding-left: 30px;
}
.alert.alert-warning {
    background-color: #FEF1E9;
    border-color: #F17528;
}
.alert.alert-info {
    background-color: #E4F3FA;
    border-color: #5994B2;
}

.form-horizontal {
    border-top: 1px solid #E9E8E8;
    padding-top: 23px;
}

.form-control {

    display: block;
    width: 100%;
    height: 20px;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.66666667;
    color: #333333;
    border: 1px solid #bababa;
    margin-bottom: 20px;
  }

input#username.form-control {
  color: #616f63;
  background-color: #c3d3c5;
}


.form-horizontal .control-label {
    color: #909090;
    line-height: 1.4em;
    padding-top: 5px;
    position: relative;
    text-align: right;
    width: 100%;
    margin-right: 5px;
    font-family: sans-serif;
}

.form-group {
    position: relative;
}

.control-label + .required {
    position: absolute;
    right: -2px;
    top: 0;
}

button.btn.btn-primary {
  border: 1px solid #056e37;
  border-radius: 2px;
  width: 8em;
  height: 30px;
  background-color: #049848;
  color: white;
}

button.btn.btn-primary:hover {
  border: 1px solid #056e37;
  border-radius: 2px;
  width: 8em;
  height: 30px;
  background-color: #036832;
  color: white;
  cursor: pointer;
}

button.btn.btn-default {
  border: 1px solid #056e37;
  border-radius: 2px;
  width: 8em;
  height: 30px;
  color: #056e37;
}

button.btn.btn-default:hover {
  border: 1px solid #0a4900;
  border-radius: 2px;
  width: 8em;
  height: 30px;
  background-color: #bcc2bb;
  color: #0a4900;
  cursor: pointer;
}

#kc-form-buttons {
  width: 70%;
   text-align: center;
    margin-top: 10px;
    margin-left: 18%;

}

#kc-form-buttons .btn-primary {
    margin-left: 8px;
}

div.bs-sidebar.col-sm-3 {
  width: 12%;
  margin-left: 22%;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: left;
}

.col-sm-9 {
    width: 40%;
}

.col-sm-10.col-md-10 {
  width: 75%;
}

.col-sm-2.col-md-2 {
  width: 18%;
}



div#kc-form-buttons {
  height: 50px;
  margin-top: 25%;
  margin-right: 40%
}
