header {
  background: var(--color-primary-light); // background color
  margin: 0; padding: 0; // fills whole space, no margins
  border-bottom: 0.3em solid var(--color-primary-dark); // add border at bottom of header
}

.navbar {
  height: 60px;
  padding: 0; // inside margin 0
  margin: 0 auto; // outside margin is 0 by default but automatic -> centering
  img {
    height: 1.5em; // default size of images in navigation bar
  }
}

.navLogo img { // logo of Agility in navigation bar
  padding-right: 0.5em; // inside margin on right side
}

.nav-link { // links in the navigation bar
  color: var(--color-text-unfocus); // color of the text
  text-transform: uppercase; // text is in uppercase
  &:hover { // when hovering these texts
    background: var(--color-primary-middle); // background color darker
    color: var(--color-text-focus); // color of the text
  }
}
