<header>
    <div class="navbar navbar-expand-sm">
        <div class="container">

            <!-- Left side : logo -->
            <div class="navbar-brand">
                <a class="nav-link active" routerLinkActive="active" routerLink="/">
                    <img src="assets/logo_white.png" alt="">
                    UniShare
                </a>
            </div>

            <!-- Show this for logged out users -->
            <ul *appShowAuthed="false" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">
                        Sign in
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register" routerLinkActive="active">
                        Sign up
                    </a>
                </li>
            </ul>

            <!-- Show this for logged in users -->
            <ul *appShowAuthed="true" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/editor" routerLinkActive="active">
                        Create Ad
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ currentUser.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/profile', currentUser.username]">
                            Profile
                        </a>
                        <a class="dropdown-item" routerLink="/" (click)="onClickSettings()">
                            Settings
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="/logout">
                            Sign out
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>