<app-ad-preview *ngFor="let ad of results" [ad]="ad">
</app-ad-preview>

<div class="app-ad-preview" [hidden]="!loading">
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div class="app-ad-preview" [hidden]="loading || results.length">
  No ads are here... yet.
</div>

<nav [hidden]="loading || totalPages.length <= 1">
  <ul class="pagination">

    <li class="page-item" [ngClass]="{'active': pageNumber === currentPage}" *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)">

      <a class="page-link">{{ pageNumber }}</a>

    </li>

  </ul>
</nav>