<div class="container section">
    <!-- Profile block -->
    <div class="border rounded p-5 mb-3">

        <!-- Profile title -->
        <div class="text-center">
            <p class="h3 mb-5">{{ profile.username }}</p>
        </div>

        <!-- Profile informations -->
        <div class="row">

            <!-- Personnal informations -->
            <div class="col-8">
                <p *ngIf="profile.firstName">First name : {{ profile.firstName }}</p>
                <p *ngIf="profile.lastName">Last name : {{ profile.lastName }}</p>
                <p *ngIf="profile.email">Email : {{ profile.email }}</p>
                <p *ngIf="profile.mobile">Phone number : {{ profile.attributes.mobile[0] }}</p>
                <p>Member since : {{ profile.createdTimestamp | date: 'medium' }}</p>
                <button (click)="onClickSettings()" [hidden]="!isUser"
                    class="btn btn-sm btn-outline-secondary action-btn">
                    Edit Profile Settings
                </button>
            </div>

            <!-- Picture -->
            <div class="col-3 text-center">
                <img src="assets/nopicture.png" alt="Profile picture">
                <!-- <button class="btn btn-success mx-auto">Change picture</button> -->
            </div>
        </div>
    </div>

    <!-- Ads block -->
    <div class="border rounded p-5">

        <!-- Ads title -->
        <div class="text-center">
            <p class="h3 mb-5">Created ads</p>
        </div>
        <router-outlet></router-outlet>
    </div>

</div>