a{
  

  z-index: 6;
}

.item{
  
  
  max-height:auto;
  
}
img{
  max-height:300px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border:solid;
}
li{
  
  margin-top: 30px;


}
#details.list-group-item {

display:block;
float:right;
margin-right:8%;
position: relative;
width: 200px;
}
#description.list-group-item{
  width:500px;
  height:200px;

}

.carousel {
  
  z-index: 2;

  
  
  

}
.carousel-inner{
  position:relative;
  display:block;
  
  
}

  


