<!-- Profile block -->
<div class="border rounded p-5 mb-3">

  <!-- Profile title -->
  <div class="text-center">
    <p class="h3 mb-5">Your profile</p>
  </div>

  <!-- Profile informations -->
  <div class="row">

    <!-- Personnal informations -->
    <div class="col-9">
      <p>First name :</p>
      <p>Last name :</p>
      <p>Birth date :</p>
      <p>Member since :</p>
    </div>

    <!-- Picture -->
    <div class="col-3 center-block text-center">
      <img src="assets/nopicture.png" alt="Profile picture">
      <button class="btn btn-success mx-auto">Change picture</button>
    </div>
  </div>
</div>

<!-- Ads block -->
<div class="border rounded p-5">

  <!-- Ads title -->
  <div class="text-center">
    <p class="h3 mb-5">Your ads</p>
  </div>
</div>
