img{
    border:solid;
    border-color:darkgrey;
    width:100px;
     height:100px;
     margin-right:10px;
}
p{
    text-align: left;
    
}
button{
    position:relative;
    top:110px;
    left:-100px;
    
    
}
li{

    padding:20px;
}