<div class="highlightsContainer">
  <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
          <h3>Highlights</h3>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 hidden-xs">
          <div class="controls pull-right">
              <a class="left fa fa-chevron-left btn btn-info " href="#carousel-example" data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-info" href="#carousel-example" data-slide="next"></a>
          </div>
      </div>
  </div>
  <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel" data-type="multi">
      <div class="carousel-inner">
          <div class="item active">
              <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-12">
                      <div class="slider-item">
                          <div class="slider-image">
                              <img src="../../assets/nopicture.png" class="img-responsive" alt="a" />
                          </div>
                          <div class="slider-main-detail">
                              <div class="slider-detail">
                                  <div class="product-detail">
                                      <h5>Livre</h5>
                                      <h5 class="detail-price">20.-</h5>
                                  </div>
                              </div>
                              <div class="cart-section">
                                  <div class="row">
                                      <div class="col-md-6 col-sm-12 col-xs-6 review">
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="col-md-6 col-sm-12 col-xs-6">
                                          <a href="#" class="AddCart btn btn-info"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Détails</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                      <div class="slider-item">
                          <div class="slider-image">
                              <img src="../../assets/nopicture.png" class="img-responsive" alt="a" />
                          </div>
                          <div class="slider-main-detail">
                              <div class="slider-detail">
                                  <div class="product-detail">
                                      <h5>Livre</h5>
                                      <h5 class="detail-price">20.-</h5>
                                  </div>
                              </div>
                              <div class="cart-section">
                                  <div class="row">
                                      <div class="col-md-6 col-sm-12 col-xs-6 review">
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="col-md-6 col-sm-12 col-xs-6">
                                          <a href="#" class="AddCart btn btn-info"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Détails</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                      <div class="slider-item">
                          <div class="slider-image">
                              <img src="../../assets/nopicture.png" class="img-responsive" alt="a" />
                          </div>
                          <div class="slider-main-detail">
                              <div class="slider-detail">
                                  <div class="product-detail">
                                      <h5>Livre</h5>
                                      <h5 class="detail-price">20.-</h5>
                                  </div>
                              </div>
                              <div class="cart-section">
                                  <div class="row">
                                      <div class="col-md-6 col-sm-12 col-xs-6 review">
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="col-md-6 col-sm-12 col-xs-6">
                                          <a href="#" class="AddCart btn btn-info"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Détails</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                      <div class="slider-item">
                          <div class="slider-image">
                              <img src="../../assets/nopicture.png" class="img-responsive" alt="a" />
                          </div>
                          <div class="slider-main-detail">
                              <div class="slider-detail">
                                  <div class="product-detail">
                                      <h5>Livre</h5>
                                      <h5 class="detail-price">20.-</h5>
                                  </div>
                              </div>
                              <div class="cart-section">
                                  <div class="row">
                                      <div class="col-md-6 col-sm-12 col-xs-6 review">
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="col-md-6 col-sm-12 col-xs-6">
                                          <a href="#" class="AddCart btn btn-info"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Détails</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-12">
                      <div class="slider-item">
                          <div class="slider-image">
                              <img src="../../assets/nopicture.png" class="img-responsive" alt="a" />
                          </div>
                          <div class="slider-main-detail">
                              <div class="slider-detail">
                                  <div class="product-detail">
                                      <h5>Livre</h5>
                                      <h5 class="detail-price">20.-</h5>
                                  </div>
                              </div>
                              <div class="cart-section">
                                  <div class="row">
                                      <div class="col-md-6 col-sm-12 col-xs-6 review">
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="col-md-6 col-sm-12 col-xs-6">
                                          <a href="#" class="AddCart btn btn-info"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Détails</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                      <div class="slider-item">
                          <div class="slider-image">
                              <img src="../../assets/nopicture.png" class="img-responsive" alt="a" />
                          </div>
                          <div class="slider-main-detail">
                              <div class="slider-detail">
                                  <div class="product-detail">
                                      <h5>Livre</h5>
                                      <h5 class="detail-price">20.-</h5>
                                  </div>
                              </div>
                              <div class="cart-section">
                                  <div class="row">
                                      <div class="col-md-6 col-sm-12 col-xs-6 review">
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="col-md-6 col-sm-12 col-xs-6">
                                          <a href="#" class="AddCart btn btn-info"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Détails</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                      <div class="slider-item">
                          <div class="slider-image">
                              <img src="../../assets/nopicture.png" class="img-responsive" alt="a" />
                          </div>
                          <div class="slider-main-detail">
                              <div class="slider-detail">
                                  <div class="product-detail">
                                      <h5>Livre</h5>
                                      <h5 class="detail-price">20.-</h5>
                                  </div>
                              </div>
                              <div class="cart-section">
                                  <div class="row">
                                      <div class="col-md-6 col-sm-12 col-xs-6 review">
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="col-md-6 col-sm-12 col-xs-6">
                                          <a href="#" class="AddCart btn btn-info"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Détails</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                 <div class="col-md-3 col-sm-3 col-xs-12">
                      <div class="slider-item">
                          <div class="slider-image">
                              <img src="../../assets/nopicture.png" class="img-responsive" alt="a" />
                          </div>
                          <div class="slider-main-detail">
                              <div class="slider-detail">
                                  <div class="product-detail">
                                      <h5>Livre</h5>
                                      <h5 class="detail-price">20.-</h5>
                                  </div>
                              </div>
                              <div class="cart-section">
                                  <div class="row">
                                      <div class="col-md-6 col-sm-12 col-xs-6 review">
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="col-md-6 col-sm-12 col-xs-6">
                                          <a href="#" class="AddCart btn btn-info"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Détails</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
          </div>
      </div>
  </div>
</div>
</div>










<div class="searchContainer">
    <div class="col-md-3">
      <form class="navbar-form" role="search" 
      >
        <div class="input-group add-on">
          <input type="search" (onsearch)="onSearch()"
           class="form-control" placeholder="Rechercher un article"
            name="srch-term" id="srch-term" >
          <div class="input-group-btn">
            <button class="btn btn-default" (click)="onSearch()"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>
</div>
              

<div class="container">
  <div class="row">
    <div class="col-xs-12">


      <app-category-menu></app-category-menu>
      <ul class="list-group">
        <app-post *ngFor="let aPost of posts"
                      [id]="aPost.id"
                      [title]="aPost.title"
                      [description]="aPost.description"
                      [price]="aPost.price"
                      [date]="aPost.date"
                      [category]="aPost.category"


        >
      </app-post>

      </ul>
<!-- Button de tests
      <button class= "btn btn-primary"
              (click)="addToServer()"> Add exemple </button>
      <button class= "btn btn-success"
              (click)="getFromServer()"> Récupérer les posts </button>
      <button class= "btn btn-danger"
              (click)="deleteFromServer()"> Delete tous les posts </button>
              -->
    </div>
  </div>
</div>
