
<div class="container">
  <div class="row">
    <div class="col-xs-12">


      <app-category-menu></app-category-menu>
      <ul class="list-group">
        <app-post *ngFor="let aPost of posts"
                      [id]="aPost.id"
                      [title]="aPost.title"
                      [description]="aPost.description"
                      [price]="aPost.price"
                      [date]="aPost.date"
                      [category]="aPost.category"


        >
      </app-post>

      </ul>
<!-- Button de tests
      <button class= "btn btn-primary"
              (click)="addToServer()"> Add exemple </button>
      <button class= "btn btn-success"
              (click)="getFromServer()"> Récupérer les posts </button>
      <button class= "btn btn-danger"
              (click)="deleteFromServer()"> Delete tous les posts </button>
              -->
    </div>
  </div>
</div>
