<form class="border rounded p-5" [formGroup]="postForm" (ngSubmit)="onSubmitForm()">

    <!-- Page title -->
    <div class="text-center">
      <p class="h3 mb-5">Create new category</p>
    </div>
  
    <!-- Category title -->
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" formControlName="name">
    </div>
  
   
  
  
    <!-- SubCategory -->
    <div class="form-group">
      <label for="parentId">parentId</label>
      <input type="text" id="parentId" class="form-control" formControlName="parentId">
    </div>
  
  
  
    <!-- Submit the ad -->
    <div class="d-flex flex-row-reverse">
      <button type="submit"  class="btn">Submit</button>
    </div>

    
  
  </form>
  <form class="border rounded p-5" [formGroup]="deleteForm" (ngSubmit)="onDelteCategory()">

    
     <!-- Ad category -->
     <div class="form-group">
      <label for="category">CategoryList</label>
      <select id="category" class="form-control" >
        
        <option *ngFor="let cat of categoryList" [value]="cat.name">{{cat.name}}</option>
      
      </select>
    </div>
    
    <div class="d-flex flex-row-reverse">
        <button (click)="onDelteCategory()" class="btn btn-faillure"  class="btn btn-faillure">Delete category</button>
    </div>
  </form>
  