@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

:root {
  --color-primary-light: #049848;
  --color-primary-middle: #057338;
  --color-primary-dark: #056e37;
  --color-text-unfocus: #FFFFFF;
  --color-text-focus: #DDDDDD;
}
body, html {
  height: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat';
  font-size: 18px;
  padding-bottom: 6em;
}

.navbar { // global settings of navigation bar
  width: 100%;
}

.footbar { // global settings of footer bar
  width: 100%;
}

.section { // global settings of sections (body of the page)
  //width: 75%;
  //min-height: 75vh;
  //margin: 0 auto;
  padding-top: 1em;
  //padding-bottom: 2em;
}

.btn { // global settings of buttons
  color: white;
  background: var(--color-primary-light);
  border-color: var(--color-primary-middle);
  &:hover {
    color: var(--color-text-focus);
    background: var(--color-primary-dark);
  }
}

.cat { // global settings of the category box
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 0;
  border-color: var(--color-primary-middle);
}
