@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');



a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0.5em;
  //padding: 1.3em;
  display: grid;
  grid-template-columns: 10% auto;

  a {
    color: rgb(156, 53, 53);
  }
}

section {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}
