@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
  height: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat';
  font-size: 18px;
}

.navbar { // global settings of navigation bar
  width: 75%;
}

section { // global settings of sections (body of the page)
  width: 75%;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

.btn { // global settings of buttons
  color: white;
  background: #00BB00;
  border-color: #00AA00;
  &:hover {
    color: #DDDDDD;
    background: #009900;
  }
}
