<header>
  <div class="navbar d-flex justify-content-between">

    <!-- Left side : logo -->
    <div class="navLogo bd-highlight"><a class="nav-link active" routerLinkActive="active" routerLink=""><img src="assets/logo_white.png" alt="Agility logo"> UniShare</a></div>

    <!-- Middle side : Create ad + My ads -->
    <div class="d-flex flex-grow-1 justify-content-center">
      <div class="bd-highlight"><a class="nav-link active" routerLinkActive="active" routerLink="new-post-view">Create ad</a></div>
      <div class="bd-highlight"><a class="nav-link active" routerLinkActive="active" routerLink="">My ads</a></div>
    </div>

    <!-- Right side : Messages + Profile || Login -->
    <div class="d-flex">
      <div class="bd-highlight"><a class="nav-link active" routerLinkActive="active" routerLink=""><img src="assets/bubble.png" alt="Messages icon"></a></div>
      <div class="bd-highlight"><a class="nav-link active" routerLinkActive="active" routerLink="connection-view">Login</a></div>
    </div>

  </div>
</header>
