button{
  margin:-1em;
  margin-left: 1em;
}
.connexion{
  background: #00AA00;
  color:white;
  border-radius: 10px;
  padding:10%;
  &:hover {
    background: rgb(12, 145, 19);
    text-shadow: rgb(127, 141, 127) 1px 0 250px;
    border-radius: 10px;
  }
}
.navbar-expand-sm{
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

  padding: 1%;
  
  
}


  .logo {
    font-weight: bold;
    margin-left:2%;
    position:absolute;
    left:0;
    
    //padding-top: 0.5em;
  }
  img {
    padding: 0; margin: 0;
    float: left;
    width: 1.5em;
    height: 1.5em;
    //padding-right: 10px;
  }

  nav {
    justify-self: right;

    ul {
      list-style-type: none;
      display:inline;
       
      

      li {
        
        
        display:inline;
        
        
         
        .regularLink {
          color:white;
          padding: 1.0em;
          margin:.5em;
          
          
          font-size: 1em;
          

          &:hover {
            background: #5D666F;
            text-shadow: #00AA00 1px 0 250px;
            border-radius: 10px;
          }
        }
      }
    }
  }

