.navbar-expand-sm{

  background-color: #00AA00;
  padding: 1%;
  
  
}


  .logo {
    font-weight: bold;
    margin-left:2%;
    position:absolute;
    left:0;
    
    //padding-top: 0.5em;
  }
  img {
    padding: 0; margin: 0;
    float: left;
    width: 1.5em;
    height: 1.5em;
    //padding-right: 10px;
  }

  nav {
    justify-self: right;

    ul {
      list-style-type: none;
      display:inline;
       
      

      li {
        
        
        display:inline;
        

        .regularLink {
          color:white;
          padding: 1.0em;
          font-size: 1em;
          

          &:hover {
            background: #5D666F;
            text-shadow: #00AA00 1px 0 250px;
            border-radius: 10px;
          }
        }
      }
    }
  }

