<footer>
  <div class="footbar p-2">
    <div class="d-flex flex-row justify-content-center">
      <div class="bd-highlight align-self-center text-center">
        <h4>Team Agility</h4>
        <p>Copyright 2019</p>
      </div>
      <div class="bd-highlight align-self-center text-center">
        <ul class="m-auto">
          <li>Marvin Fourastié</li>
          <li>Corentin Bugnot</li>
          <li>Adrien Razurel</li>
          <li>Romain Bigot</li>
          <li>Heloy Estevanin</li>
          <li>Raphaël Lutz</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
