footer {
  background: var(--color-primary-light); // background color
  margin: 0; padding: 0; // fills whole space, no margins
}

.footbar {
  padding: 0; // inside margin 0
  margin: 0 auto; // outside margin is 0 by default but automatic -> centering
  margin-top: 1em;
  height: 11em;
  color: white;
  font-size: 12px;
}

h4 {
  font-size: 16px;
}
ul {
  list-style: none;
}
