<div class="list-group" *ngFor="let cat of categoryList">
  <button  type="button" class="list-group-item list-group-item-action rounded-0" (click)="onSelectCategory(cat.id)">{{ cat.name }}
    <ng-container *ngFor="let subCat of subCategoryList" >
    <div class="list-group"  >
      <button type="button" class="list-group-item list-group-item-action rounded-0" >{{ subCat.name }}
           <ng-container *ngIf="last" ></ng-container>
    
      </button>
    </div>
  </ng-container>
     

  </button>
</div>
